{{< layout}} 

{{+ link}}
<link href="/css/buy.css" rel="stylesheet" />
{{/link}}

{{+ content}} 

<div class="container">

    <div class="is-justify-end el-row--flex">
        <a href="/buy/history" class="history-tag">
            <i class="el-icon-time"></i>
            Purchase History    
        </a> 
    </div>
        
    <div class="is-justify-space-between el-row--flex user-authority">
        <div class="ordinary">
            <div class="head">
                <h3>Ordinary User</h3>
                <span>Free</span>
            </div>
            <div class="body-content">
                <ul>
                <li class="have">Free access to the learning of all lessons</li>
                <li class="have">View the history record of learning</li>
                <li>
                    Get access to the teaching function
                    <ul>
                    <li>Track students’ real-time performance in a class</li>
                    <li>View the summary including accuracy analysis and testing results of students after a class</li>
                    <li>Print the summary</li>
                    <li>Send the summary to your own mailbox</li>
                    </ul>  
                </li>
                <li>View the history record of teaching</li>
                </ul>  
            </div>  
        </div>
        
        <div class="vip">
                <div class="head">
                    <h3>VIP</h3>  
                    <span>USD***/6 months</span>   
                </div>
                <div class="body-content">
                    <ul>
                        <li class="have">Free access to the learning of all lessons</li>
                        <li class="have">View the history record of learning</li>
                        <li class="have">
                            Get access to the teaching function
                            <ul>
                            <li class="have">Track students’ real-time performance in a class</li>
                            <li class="have">View the summary including accuracy analysis and testing results of students after a class</li>
                            <li class="have">Print the summary</li>
                            <li class="have"><span>Send the summary to your own mailbox</span></li>
                            </ul>  
                        </li>
                        <li class="have">View the history record of teaching</li>
                    </ul>  
                </div>  
        </div>
    </div>  
        
    <div class="purchasing-type">
        <h2>Purchasing Types</h2>
        <p class="hint">The individual purchasing price is as below. If you want to know group purchasing price, please feel free to contact *****</p>

        <div class="is-justify-center el-row--flex">
            <div class="el-col el-col-9 type-item current">
                <div class="icon position-top"></div> 
                <div class="price"><i>$</i>2420</div>
                <span class="time">12 months</span>
            </div>
            <div class="el-col el-col-9 type-item">
                <div class="icon position-top"></div>  
                <div class="price"><i>$</i>1260</div>
                <span class="time">6 months</span> 
            </div>
        </div>

        <div>
            <a href="#" class="el-button el-button--primary">
                <span>TO PAY</span>
            </a> 
        </div>
    </div>
</div>
<script src="/js/buy.js"></script>
{{/ content}}
