{{< layout}} 

{{+ link}}
<link href="/css/buy.css" rel="stylesheet" />
{{/link}}

{{+ content}} 
<div class="history-list">
    <ul class="history-item">
        <li class="el-row--flex">
            <span>Purchasing Type:</span>
        <div>USD ***/6 months</div>
        </li>	
        <li class="el-row--flex">
            <span>Valid Until:</span>
            <div>24, Oct. 2018</div>
        </li>
        <li class="el-row--flex">
            <span>Purchasing Date:</span>
            <div>24, Apr. 2018</div>
        </li>
    </ul>
    <ul class="history-item">
        <li class="el-row--flex">
            <span>Purchasing Type:</span>
            <div>USD ***/6 months</div>
        </li>	
        <li class="el-row--flex">
            <span>Valid Until:</span>
            <div>24, Oct. 2018</div>
        </li>
        <li class="el-row--flex">
            <span>Purchasing Date:</span>
            <div>24, Apr. 2018</div>
        </li>
    </ul>
    <ul class="history-item expired">
        <li class="el-row--flex">
            <span>Purchasing Type:</span>
            <div>USD ***/6 months</div>
        </li>	
        <li class="el-row--flex">
            <span>Valid Until:</span>
            <div>24, Oct. 2018</div>
        </li>
        <li class="el-row--flex">
            <span>Purchasing Date:</span>
            <div>24, Apr. 2018</div>
        </li>
    </ul>
    </div>
{{/ content}}
