{{< layout}} 

{{+ link}} 
<link href="{{__data__.baseUrl}}/css/index.css" rel="stylesheet" /> 
{{/link}} 

{{+ content}}
<div class="banner">
    <a href="#">
        <img src="{{__data__.baseUrl}}/imgs/main/banner.jpg" alt="banner" />
    </a>
</div>

<div class="lesson-list container">
    <div class="section-nav">
        <i></i>
        <span>{{__data__.string.hottest_lesson}}</span>
        <i></i>
    </div>

    <div class="flex-start flex-wrap">
        <a href="#" class="item">
            <div class="lesson-cover">
                <img src="https://avatars3.githubusercontent.com/u/18064049?s=460&v=4" alt="lesson" />
            </div>
            <div class="tit">Actors & Animations</div>
        </a>
        <a href="#" class="item">
            <div class="lesson-cover">
                <img src="https://avatars3.githubusercontent.com/u/18064049?s=460&v=4" alt="lesson" />
            </div>
            <div class="tit">Actors & Animations</div>
        </a>
        <a href="#" class="item">
            <div class="lesson-cover">
                <img src="https://avatars3.githubusercontent.com/u/18064049?s=460&v=4" alt="lesson" />
            </div>
            <div class="tit">Actors & Animations</div>
        </a>
    </div>
    <div class="text-align">
        <a href="{{__data__.baseUrl}}/lesson" class="btn">{{__data__.string.view_more_lessons}} <i class="el-icon-d-arrow-right"></i></a>
    </div>
</div>

<div class="section-wrapper">
    <div class="flex-start user-wrapper container">
        <div class="half">
            <div class="text-center">
                <img src="{{__data__.baseUrl}}/imgs/main/teacher.png" alt="teacher" />
            </div>
            <div>
                <div class="tit">{{__data__.string.home_teacher_tit}}</div>
                <div>{{__data__.string.home_teacher_content}}</div>
                <!-- <div class="text-align">
                    <a href="/buy" class="btn">CLICK HERE TO BUY</a>
                </div> -->
            </div>
        </div>
        <div class="half">
            <div class="text-center">
                <img src="{{__data__.baseUrl}}/imgs/main/student.png" alt="student" />
            </div>
            <div>
                <div class="tit">{{__data__.string.home_student_tit}}</div>
                <div>{{__data__.string.home_student_content}}</div>
            </div>
        </div>
    </div>
</div>

<div class="about-lesson-wrapper container section-wrapper">
    <div class="section-nav">
        <i></i>
        <span>{{__data__.string.abount_lessons}}</span>
        <i></i>
    </div>

    <div class="flex-start flex-wrap">
        <div class="item flex-start">
            <div class="img">
                <img src="{{__data__.baseUrl}}/imgs/main/animations.png" />
            </div>
            <div class="half">
                <strong class="tit">{{__data__.string.home_about_lesson_tit1}}</strong>
                <div>{{__data__.string.home_about_lesson_content1}}</div>
            </div>
        </div>
        <div class="item flex-start">
            <div class="img">
                <img src="{{__data__.baseUrl}}/imgs/main/how.png" />
            </div>
            <div class="half">
                <strong class="tit">{{__data__.string.home_about_lesson_tit2}}</strong>
                <div>{{__data__.string.home_about_lesson_content2}}</div>
            </div>
        </div>
        <div class="item flex-start">
            <div class="img">
                <img src="{{__data__.baseUrl}}/imgs/main/Convenientservice.png" />
            </div>
            <div class="half">
                <strong class="tit">{{__data__.string.home_about_lesson_tit3}}</strong>
                <div>{{__data__.string.home_about_lesson_content3}}</div>
            </div>
        </div>
        <div class="item flex-start">
            <div class="img">
                <img src="{{__data__.baseUrl}}/imgs/main/FriendlyPrices.png" />
            </div>
            <div class="half">
                <strong class="tit">{{__data__.string.home_about_lesson_tit4}}</strong>
                <div>{{__data__.string.home_about_lesson_content4}}</div>
            </div>
        </div>
    </div>
</div>

<div class="section-wrapper">
    <div class="section-nav">
        <i></i>
        <span>{{__data__.string.about_us}}</span>
        <i></i>
    </div>

    <div class="about-us-wrapper container">
        {{{__data__.string.home_about_us_txt}}}
    </div>
</div>

<div class="footer-wrapper">
    <div class="section-nav">
        <span>{{__data__.string.parters}}</span>
    </div>

    <div class="flex-start box-info">
        <div class="content">
            <h4>Contact</h4>
            <ul>
                <li class="phone">95-54684231</li>
                <li class="mailbox">tatfook@hotmail.com</li>
                <li class="address">China</li>
            </ul>
        </div>
        <div class="follow">
            <h4>Follow us</h4>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Youyube</li>
            </ul>
        </div>
    </div>
</div>

{{/ content}}