{{< layout}} 

{{+ link}}
<link href="/css/index.css" rel="stylesheet" />
{{/link}}

{{+ content}} 
    <div class="banner">
        <a href="#">
            <img src="/imgs/main/banner.jpg" alt="banner" />
        </a>
    </div>
    
    <div class="lesson-list">
        <div class="section-nav">
            <i></i>
            <span>Hottest Lessons</span>
            <i></i>
        </div>
            
        <div class="flex-start flex-wrap">
                <a href="#" class="item">
                <div class="lesson-cover">
                <img src="https://avatars3.githubusercontent.com/u/18064049?s=460&v=4" alt="lesson"/>	
                </div>  
            <div class="tit">Actors & Animations</div>
            </a>
            <a href="#" class="item">
                <div class="lesson-cover">
                <img src="https://avatars3.githubusercontent.com/u/18064049?s=460&v=4" alt="lesson"/>	
                </div> 
            <div class="tit">Actors & Animations</div>
            </a>
            <a href="#" class="item">
                <div class="lesson-cover">
                <img src="https://avatars3.githubusercontent.com/u/18064049?s=460&v=4" alt="lesson"/>	
                </div> 
            <div class="tit">Actors & Animations</div>
            </a>
        </div>
        <div class="text-align"><a href="#" class="btn">View More Lessons &gt;&gt;&gt;</a></div>
    </div>
        
    <div class="section-wrapper">
        <div class="flex-start user-wrapper">
            <div class="half">
            <img src="/imgs/main/teacher.png" alt="teacher" />
            <div>
                <div class="tit">Engage your students with animations</div>
                <div>Ever thought about showing the students great animation & games in class, and read the source code of them as they play to learn programming?</div>
                <div class="text-align"><a href="#" class="btn">CLICK HERE TO BUY</a></div>
            </div>
            </div>
            <div class="half">
            <img src="/imgs/main/student.png" alt="student" />
            <div>
                <div class="tit">Engage your students with animations</div>
                <div>Ever thought about showing the students great animation & games in class, and read the source code of them as they play to learn programming?</div>
            </div>
            </div>
        </div>  
    </div>
      
    <div class="about-lesson-wrapper section-wrapper">
        <div class="section-nav">
            <i></i>
            <span>About Lessons</span>
            <i></i>
        </div>
        
        <div class="flex-start flex-wrap">
            <div class="item flex-start">
            <div class="img">
                <img src="/imgs/main/animations.png" />
            </div>
            <div class="half">
                <strong class="tit">Animations? why?</strong>
                <div>
                Animations and games is attractive to everyone, why not use them in class and read its source code. Learning (computer ) language by reading and writing is the best way, just like how you learn English language in class.
                </div>
            </div>
            </div>
            <div class="item flex-start">
            <div class="img">
                <img src="/imgs/main/how.png" />
            </div>
            <div class="half">
                <strong class="tit">How do I use it in my class?</strong>
                <div>
                Install Paracraft, open the lesson web page and play with the students in class. We will release more assistent tools for use in class in May 2018.
                </div>
            </div>
            </div>
            <div class="item flex-start">
            <div class="img">
                <img src="/imgs/main/Convenientservice.png" />
            </div>
            <div class="half">
                <strong class="tit">Can I teach programming with no code experience before?</strong>
                <div>
                Yes, all of our lessons are written in a way for everyone to learn by themselves. You can just learn with the student together in class. super easy and fun.
                </div>
            </div>
            </div>
            <div class="item flex-start">
            <div class="img">
                <img src="/imgs/main/FriendlyPrices.png" />
            </div>
            <div class="half">
                <strong class="tit">Is it Expensive?</strong>
                <div>
                Ask your parent or school teacher, it is only 0.2$ per day to have free access to all of our lessons. We release 5 new lessons every week.
                </div>
            </div>
            </div>
        </div>
    </div>
      
    <div class="section-wrapper">
        <div class="section-nav">
            <i></i>
            <span>About Us</span>
            <i></i>
        </div>
        
        <div class="about-us-wrapper">
                Hi, Parents and Teachers,
            <br />
            <br />
            I am Xizhi, the developer of Neural Parallel Language and the 3d animation & game making tool called Paracraft. In 1989, at the age of 7, I wrote my first program on a IBM PC in my father’s lab. From March 2018, I made a decision to create one computer science lesson every week using Paracraft and NPL.
                <br />  
            Throughout the lessons, I want to share my first 12 years of programming life with all kids around the world including my own. Click here to read my autobiography on programming.
            <br />
            <br />
            All software used in the lessons are free and open source, including paracraft and NPL. All lessons we sell are also free to read online, and we only charge you a small subscription fee in order for your kids to read the source code of the animation or game while they play it. We encourage you to see the lessons yourself and read together with your kids, as I would do the same thing with my own child.
            <br />
            <br />  
            I have a small International team that is doing Artificial Intelligence research using NPL and paracraft. The software and language that is taught in our lessons is the same set of tools we use for our serious research in AI. Our NPL research center at Tatfook has open sourced over 2 million lines of code written by ourselves on github. Your payment or donation will greatly help us to continue our work with more and more talented programmers and scientists.
            <br />
            <br />  
            Finally, if you or your kids want to join us one day, please email me: lixizhi@yeah.net
            <br />
            <br />  
                Best<br />
                Xizhi, Li<br />
                CTO of Tatfook Network Co.
        </div>
    </div>
      
    <div class="footer-wrapper">
        <div class="section-nav">
          <span>Partners</span>
        </div>
        
        <div class="flex-start box-info">
          <div class="content">
            <h4>Contact</h4>
            <ul>
              <li class="phone">95-54684231</li>
              <li class="mailbox">tatfook@hotmail.com</li>
              <li class="address">China</li>
            </ul>
              </div>
          <div class="follow">
            <h4>Follow us</h4>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Youyube</li>
            </ul>  
              </div>
        </div>
    </div>
      
{{/ content}}