<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Lesson</title>
    <link href="/csslib/element-ui.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
    <script src="/jslib/jquery.min.js"></script>
    <script src="/js/common.js"></script>
    {{? link}}
</head>
<body>
    <div class="header">
        <div class="nav-bar">
            <div class="menu">
                <a href="/" class="{{homeCurrent}}">HOME</a>
                <a href="/lesson" class="{{lessonCurrent}}">LESSONS</a>
                <a href="/buy" class="{{buyCurrent}}">BUY</a>
                <a href="/myRecord" class="{{recordCurrent}}">MY RECORD</a>
            </div>  
            <div class="to-download">
                <a href="#">Paracraft<i class="el-icon-download"></i></a>    
            </div>  
        </div>   
    </div>
    <div class="main">
        {{? content}}
    </div>
   
</body>
</html>