<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lesson</title>
    <link href="/csslib/element-ui.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
    <script src="/jslib/jquery.min.js"></script>
    <script src="/js/common.js"></script>
    {{? link}}
</head>
<body>
    <div class="header">
        <div class="nav-bar">
            <div class="menu">
                <a href="#">HOME</a>
                <a href="#">LESSONS</a>
                <a href="#">BUY</a>
                <a href="#" class="current">MY RECORD</a>
            </div>  
            <div class="to-download">
                <a href="#">Paracraft<i class="el-icon-download"></i></a>    
            </div>  
        </div>   
    </div>
    <div class="main">
        {{? content}}
    </div>
   
</body>
</html>