<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Lesson</title>
    <link href="/csslib/element-ui.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
    <script src="/jslib/jquery.min.js"></script>
    <script src="/js/common.js"></script>
    {{? link}}
</head>
<body>
    <div class="header noprint">
        <div class="nav-bar">
            <div class="menu">
                <a href="/" class="{{homeCurrent}}">{{__data__.string.home}}</a>
                <a href="/lesson" class="{{lessonCurrent}}">{{__data__.string.lessons}}</a>
                <!-- <a href="/buy" class="{{buyCurrent}}">{{__data__.string.buy}}</a> -->
                <a href="/myRecord" class="{{recordCurrent}}">{{__data__.string.record}}</a>
                <a href="/learningRecord" class="{{learningCurrent}}">{{__data__.string.learning_record}}</a>
                <a href="/teacherColumn" class="{{teacherCurrent}}">{{__data__.string.teacher_column}}</a>
            </div>  
            <div class="to-download">
                <a href="http://www.paracraft.cn/download" target="_blank">Paracraft<i class="el-icon-download"></i></a>    
            </div>  
        </div>   
    </div>
    <div class="main">
        {{? content}}
    </div>
    <script>
        // setInterval(function(){
            // iFrame 通讯
            if (window.parent !== window) {
                var height = $('body').outerHeight() + 400;
                console.log('lesson echo: ' + height)
                window.parent.postMessage({cmd:'element_style', selector:'iframeId', style:{'height':height + 'px'}}, 'http://keepwork.com');
            }
        // }, 1000)

        function getCookie(c_name) {
            if (document.cookie.length>0){
                c_start=document.cookie.indexOf(c_name + "=")
                if (c_start!=-1) { 
                    c_start=c_start + c_name.length+1 
                    c_end=document.cookie.indexOf(";",c_start)
                    if (c_end==-1) c_end=document.cookie.length
                    return unescape(document.cookie.substring(c_start,c_end))
                } 
            }
            return ""
        }
        // alert(getCookie("token"));
    </script>
</body>
</html>