{{< layout}}

{{+ link}}
<link href="/css/record.css" rel="stylesheet" />
{{/link}}

{{+ content}}
<div class="recordWrapper learned-record">
    <div class="item">
        <span>Lesson 1：</span>
        <div>Tutorial: Installation, Movement and Edit Mode</div>
    </div>
    <div class="item">
        <span>Duration: </span>
        45 mins Monday 20th, April, 2018
    </div>

    <div class="learnedDetails">
        <h3>Your performance:</h3>
        <ul>
            <li>This is your <em>1st</em> day of computer science with paracraft.
            </li>
            <li>You mastered the <em>/mode</em> command today.
            </li>
            <li>You have read over <em>20</em> lines of code, and written <em>2</em> lines of code.
            </li>
            <li>You have learned <em>1</em> computer commands.</li>
            <li>Today, you read the source code of <em>What Do You Do With An Idea?</em> and liked it.</li>
        </ul>
    </div>

</div>   

{{/content}}