{{< layout}}

{{+ link}}
<link href="/css/record.css" rel="stylesheet" />
<link rel="stylesheet" href="/csslib/c3.min.css" />
<script type="text/javascript" src="/jslib/d3.min.js"></script>
<script type="text/javascript" src="/jslib/c3.min.js"></script>
{{/link}}

{{+ content}}
    <input hidden value="{{username}}" id="username"/>
    <input hidden value="{{lessonNo}}" id="lessonNo"/>
    <div class="recordWrapper learned-record">
        <div class="item">
            <span>Lesson <span class="lesson-no">-</span>：</span>
            <div><span class="lesson-title">-</span></div>
        </div>
        <div class="item">
            <span>Accuracy Analysis:</span>
            (You have learned the lesson for <em class="learned-times">-</em> times)
        </div>

        <div class="item">
            <div id="learnedChart" height="40vh" width="80vw"></div>
        </div>

        <div class="item">
            <span>Detailed :</span>
            <table class="table-wrap" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <td style="width:10%;">NO.</td>
                        <td style="width:30%;">
                            <div class="sort-btn sort-by-time">
                                <span>
                                    Starting Time
                                </span>
                                <span class="sort-icon">
                                    <i class="el-icon-caret-top active"></i>
                                    <i class="el-icon-caret-bottom"></i>
                                </span> 
                            </div>
                        </td>
                        <td style="width:25%;">
                            <div class="sort-btn sort-by-rate">
                                <span>
                                    Accuracy Rate
                                </span>
                                <span class="sort-icon">
                                    <i class="el-icon-caret-top active"></i>
                                    <i class="el-icon-caret-bottom"></i>
                                </span>
                            </div>
                        </td>
                        <td style="width:20%;">
                            <div class="sort-btn sort-by-score">
                                <span>
                                    Total Score
                                </span>
                                <span class="sort-icon">
                                    <i class="el-icon-caret-top active"></i>
                                    <i class="el-icon-caret-bottom"></i>
                                </span>
                            </div>
                        </td>
                        <td style="width:15%;"></td>
                    </tr>
                </thead>
                <tbody class="tbl-learned-record">
                </tbody>
            </table>
            <div class="text-center">
                <a href="javascript:;" class="icon-more el-icon-d-arrow-right"></a>
            </div>
        </div>
    </div>
    <script src="/js/learned_record.js"></script>
{{/content}}