{{< layout}}

{{+ link}}
<link href="/css/record.css" rel="stylesheet" />
{{/link}}

{{+ content}}
<input hidden value="{{sn}}" id="recordSn"/>
<div class="recordWrapper learned-record">
    <div class="item">
        <span>Lesson <span class="lesson-no">-</span>：</span>
        <div><span class="lesson-title">-</span></div>
    </div>
    <div class="item">
        <span>Duration: </span>
        <div>
            <span class="lesson-duration">-</span> mins&nbsp;&nbsp;&nbsp;<span class="lesson-time">-</span>
        </div>
    </div>

    <div class="learnedDetails">
        <h3>Your performance:</h3>
        <ul>
            <li>This is your <em class="learned-days">-</em> day of computer science with paracraft.
            </li>
            <li class="lesson-performance">
            </li>
        </ul>
    </div>

</div>   
<script src="/js/learned_details.js"></script>
{{/content}}