{{< layout}}

{{+ link}}
<link href="{{__data__.baseUrl}}/css/learning_record.css" rel="stylesheet" />
{{/link}}

{{+ content}}
<div class="learnRecordWrapper learning-record">
    <!-- 用户信息 -->
    <div class="user-info el-row el-row--flex is-justify-space-between">
        <div class="e-col el-col-12 el-col-xs-24">
            <div class="el-row el-row--flex">
                <div class="el-col">
                    <img class="portrait" src="" alt="" />
                </div>
                <div class="user-desc el-col">
                    <div class="el-row el-row--flex is-justify-space-between">
                        <div class="username el-col">
                            <strong>
                                Hi, <span class="name"></span>.
                            </strong>
                        </div>
                        <div class="coins el-col">
                            <strong class="coins-title">{{__data__.string.coins}}:</strong>
                            <strong class="coins-num"></strong>
                            <strong class="how">?</strong>
                            <div class="tooltip-how">
                                {{{__data__.string.how_to_earn_coins}}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="e-col el-col-12 el-col-xs-24">
            <div class="code-summary el-row el-row--flex is-justify-space-around" >
                <div class="el-col el-col-8">
                    <div class="codes-read">
                        <div class="title">{{__data__.string.codes_read}}</div>
                        <div class="lines"><span class="read-lines-num"></span>{{__data__.string.lines}}</div>
                    </div>
                </div>
                <div class="el-col el-col-8">
                    <div class="codes-written">
                        <div class="title">{{__data__.string.codes_written}}</div>
                        <div class="lines"><span class="written-lines-num"></span>{{__data__.string.lines}}</div>
                    </div>
                </div>
                <div class="el-col el-col-8">
                    <div class="commands-learned">
                        <div class="title">{{__data__.string.commands_learned}}</div>
                        <div class="lines"><span class="Commands-lines-num"></span></div>
                    </div>
                </div>
            </div>
        </div> 
    </div>  
    <!-- 推荐人 -->
    <div class="presenter display-none">
        <div class="presenter-content">
            {{{__data__.string.invinter_tips}}}    
            <div class="el-input">
                <input type="text" name="presenter-name" autocomplete="off" placeholder="Please input the user name of your referee" class="el-input__inner">
            </div>
            <div>
                <button type="button" class="add-presenter el-button el-button--primary el-button--mini"><span>{{__data__.string.invinter_submit}}</span></button>
            </div>
        </div>
        <span class="presenter-dismiss">{{__data__.string.invinter_dismiss}}</span>
    </div>
    <!-- 课程包列表 -->
    <div class="lesson-list">
        <!-- 没有数据 -->
        <div class="no-data display-none">
            {{{__data__.string.no_package_selected}}}
            <a href="{{__data__.baseUrl}}/lesson" class="continue el-button el-button--primary el-button--medium"><span>{{__data__.string.view_lessons}}</span></a>                           
        </div>
        <!-- 有数据 -->
        <div class="package-list display-none">
            <div class="total">{{__data__.string.includes}} <span class="lesson-total">-</span> {{__data__.string.packages}}</div>
            <div class="el-row">
                
            </div>
        </div>
        
    </div>
</div>    
<script src="{{__data__.baseUrl}}/js/learning_record.js"></script>
{{/ content}}