{{< layout}} 

{{+ link}} 
<link href="/css/lesson.css" rel="stylesheet" /> 
{{/link}} 

{{+ content}}
<div class="lesson-list container">
    <div class="total">Total Number of Lessons: 100</div>

    <div class="el-row">
        <div class="el-col el-col-12 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6">
            <a href="#" class="lesson-cover">
                <div style="background-image: url(https://images.unsplash.com/photo-1520357750302-03cee3ee2e6a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjcwOTV9&s=6a77942f2264fa230fe1c6561c46f9f1);"></div>
            </a>

            <a href="#" class="title">Lesson 1 Actors Animations</a>
            <div class="time">Duration: <span>45mins</span></div>
            <div class="ages">Ages: <span>Suitable for all</span></div>
        </div>
        <div class="el-col el-col-12 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6">
            <a href="#" class="lesson-cover">
                <div style="background-image: url(https://images.unsplash.com/photo-1520357750302-03cee3ee2e6a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjcwOTV9&s=6a77942f2264fa230fe1c6561c46f9f1);"></div>
            </a>

            <div class="lesson-content">
                <a href="#" class="title">Lesson 1 Actors Animations</a>
                <div class="time">Duration: <span>45mins</span></div>
                <div class="ages">Ages: <span>Suitable for all</span></div>
            </div>
        </div>
        <div class="el-col el-col-12 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6">
            <a href="#" class="lesson-cover">
                <div style="background-image: url(https://images.unsplash.com/photo-1520357750302-03cee3ee2e6a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjcwOTV9&s=6a77942f2264fa230fe1c6561c46f9f1);"></div>
            </a>

            <div class="lesson-content">
                <a href="#" class="title">Lesson 1 Actors Animations</a>
                <div class="time">Duration: <span>45mins</span></div>
                <div class="ages">Ages: <span>Suitable for all</span></div>
            </div>
        </div>
        <div class="el-col el-col-12 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6">
            <a href="#" class="lesson-cover">
                <div style="background-image: url(https://images.unsplash.com/photo-1520357750302-03cee3ee2e6a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjcwOTV9&s=6a77942f2264fa230fe1c6561c46f9f1);"></div>
            </a>

            <div class="lesson-content">
                <a href="#" class="title">Lesson 1 Actors Animations</a>
                <div class="time">Duration: <span>45mins</span></div>
                <div class="ages">Ages: <span>Suitable for all</span></div>
            </div>
        </div>
        <div class="el-col el-col-12 el-col-xs-12 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6">
            <a href="#" class="lesson-cover">
                <div style="background-image: url(https://images.unsplash.com/photo-1520357750302-03cee3ee2e6a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjcwOTV9&s=6a77942f2264fa230fe1c6561c46f9f1);"></div>
            </a>

            <div class="lesson-content">
                <a href="#" class="title">Lesson 1 Actors Animations</a>
                <div class="time">Duration: <span>45mins</span></div>
                <div class="ages">Ages: <span>Suitable for all</span></div>
            </div>
        </div>
    </div>
</div>
{{/content}}