{{< layout}}

{{+ link}}
<link href="/css/record.css" rel="stylesheet" />
<link rel="stylesheet" href="/csslib/c3.min.css" />
<script type="text/javascript" src="/jslib/d3.min.js"></script>
<script type="text/javascript" src="/jslib/c3.min.js"></script>
<style type="text/css" media=print>
    .noprint{
        display: none;
    }
</style> 
{{/link}}

{{+ content}}
    <input hidden value="{{classId}}" id="classId"/>
    <!--startprint-->
    <div class="recordWrapper taughted-record">
        <div class="record-operate">
            <a href="#" id="btnPrint" class="el-button el-button--primary el-button--small noprint">Print</a>
            <a href="#" id="sendEmail" class="el-button el-button--primary el-button--small noprint">Send to Mailbox</a>
        </div>
        <div class="record-container">
            <div class="item">
                <span>Lesson <span class="lesson-no">-</span>：</span>
                <div><span class="lesson-title">-</span></div>
            </div>
            <div class="item">
                <span>Duration: </span>
                <div>45 mins &nbsp&nbsp<span class="lesson-time">-</span></div>
            </div>
            <div class="item">
                <span>Lesson Goals: </span>
                <ol>
                    <li class="lesson-goals"></li>
                </ol>
            </div>

            <div class="item">
                <span>Accuracy Analysis:</span>
                <div class="chartLayout">
                    <div>
                        <div id="taughtedChart"></div>
                    </div>
                    <div>
                        <div id="studentChart"></div>
                    </div>
                </div>
            </div>

            <div class="item">
                <span>Detailed :</span>
                <table class="table-wrap" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <td style="width:10%;">
                                <div class="draw-user"></div>
                            </td>
                            <td style="width:15%;">
                                <div class="sort-btn sort-by-name">
                                    <span>
                                        Name
                                    </span>
                                    <span class="sort-icon">
                                        <i class="el-icon-caret-top active"></i>
                                        <i class="el-icon-caret-bottom"></i>
                                    </span> 
                                </div>
                            </td>
                            <td style="width:15%;">
                                <div class="sort-btn sort-by-no">
                                    <span>
                                        Student No.
                                    </span>
                                    <span class="sort-icon">
                                        <i class="el-icon-caret-top active"></i>
                                        <i class="el-icon-caret-bottom"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:10%;">
                                <div class="sort-btn sort-by-rate">
                                    <span>
                                        Accuracy Rate
                                    </span>
                                    <span class="sort-icon">
                                        <i class="el-icon-caret-top active"></i>
                                        <i class="el-icon-caret-bottom"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:11%;">
                                <div class="sort-btn sort-by-right">
                                    <span>
                                        Right
                                    </span>
                                    <span class="sort-icon">
                                        <i class="el-icon-caret-top active"></i>
                                        <i class="el-icon-caret-bottom"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:12%;">
                                <div class="sort-btn sort-by-wrong">
                                    <span>
                                       Wrong
                                    </span>
                                    <span class="sort-icon">
                                        <i class="el-icon-caret-top active"></i>
                                        <i class="el-icon-caret-bottom"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:12%;">
                                <div class="sort-btn sort-by-empty">
                                    <span>
                                        Empty
                                    </span>
                                    <span class="sort-icon">
                                        <i class="el-icon-caret-top active"></i>
                                        <i class="el-icon-caret-bottom"></i>
                                    </span>
                                </div>
                            </td>
                            <td style="width:15%;"></td>
                        </tr>
                    </thead>
                    <tbody class="record-tbl">
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <!--endprint-->
    
    <script src="/js/taughted_record.js"></script>
{{/content}}