{{< layout}}

{{+ link}}
<link href="/css/record.css" rel="stylesheet" />
{{/link}}

{{+ content}}
<div class="recordWrapper taughted-record">
    <div class="item">
        <span>Lesson 1：</span>
        <div>Tutorial: Installation, Movement and Edit Mode</div>
    </div>
    <div class="item">
        <span>Duration: </span>
        <div>45 mins Monday 20th, April, 2018</div>
    </div>

    <div class="student-info">
        <div class="item">
            <span>Name: </span>   
            isyang 
        </div>    
        <div class="item">
            <span>Student No: </span>   
            11111 
        </div>   
        <div class="item">
            <span>Accuracy Rate: </span>   
            40% 
        </div>   
    </div>

    <div class="student-taughted-details">
        <div class="express">
            <span class="r">right</span>
            <span class="w">wrong</span>
        </div>

        <table class="table-wrap" cellspacing="0" border="0">
            <thead>
                <tr>
                    <td>
                        Quiz 1
                    </td>
                    <td>
                        Quiz 2
                    </td>
                    <td>
                        Quiz 3
                    </td>
                    <td>
                        Quiz 4
                    </td>
                    <td>
                        Quiz 5
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="right">A</span>
                    </td>
                    <td><span class="right">B</span></td>
                    <td><span class="wrong">B</span></td>
                    <td><span class="wrong">B</span></td>
                    <td><span class="right">B</span></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>   

{{/content}}