{{< layout}} {{+ link}} 
<link href="/css/record.css" rel="stylesheet" />
<style type="text/css">
    #load {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        filter: alpha(opacity=60);
        background-color: #777;
        z-index: 1002;
        left: 0px;
        display: none;
        opacity: 0.5;
        -moz-opacity: 0.5;
        padding-top: 100px;
        color: #000000
    }
</style>
{{/link}} {{+ content}}
<input hidden value="{{recordSn}}" id="recordSn" />
<input hidden value="{{studentNo}}" id="studentNo" />
<div class="recordWrapper taughted-record">
    <div class="item">
        <span>Lesson <span class="lesson-no">-</span>：</span>
        <div><span class="lesson-title">-</span></div>
    </div>
    <div class="item">
        <span>Duration: </span>
        <div>45 mins &nbsp&nbsp<span class="lesson-time">-</span></div>
    </div>

    <div class="student-info">
        <div class="item">
            <span>Name: </span>
            <span class="student-name">-</span>
        </div>
        <div class="item">
            <span>Student No.: </span>
            <span class="student-no">-</span>
        </div>
        <div class="item">
            <span>Accuracy Rate: </span>
            <span class="accuracy-rate">-</span>
        </div>
    </div>

    <div class="student-taughted-details">
        <div class="express">
            <span class="r">right</span>
            <span class="w">wrong</span>
        </div>

        <table class="table-wrap" cellspacing="0" border="0">
            <thead>
                <tr class="tbl-head">
                </tr>
            </thead>
            <tbody>
                <tr class="tbl-body">
                </tr>
            </tbody>
        </table>
    </div>
    <div id="load" align="center"><img src="images/loading.gif" width="28" height="28" align="absmiddle" />加载中...</div>
</div>

<script src="/js/taught_details.js"></script>

{{/content}}