{{< layout}} 

{{+ link}}
<link href="{{__data__.baseUrl}}/css/teacher_column.css" rel="stylesheet" />
{{/link}}

{{+ content}} 

<div class="container">
    <!-- 输入激活码 -->
    <div class="activation">
        <div class="activation-content">
            {{{__data__.string.activation_tips}}}
            <div class="el-input">
                <input type="text" name="activation-code" autocomplete="off" placeholder="{{__data__.string.activation_code_input_placeholder}}" class="el-input__inner">
            </div>
            <div>
                <button type="button" class="add-activation el-button el-button--primary el-button--mini"><span>{{__data__.string.activation_activate_btn_text}}</span></button>
            </div>
        </div>
    </div>
    <!-- 教育机构可以获得 -->
    <div class="get_detail">
        <div class="teacher_title"><strong>{{__data__.string.educator_could_get}}</strong></div>
        <div class="el-row el-row--flex is-justify-space-between user-authority">
            <!-- 个人用户 -->
            <div class="private">
                <div class="head">
                    <h3>{{__data__.string.private_users}}</h3>
                </div>
                <div class="body-content">
                    <ul>
                    <li class="have">{{__data__.string.user_features_1}}</li>
                    <li class="have">{{__data__.string.user_features_2}}</li>
                    <li class="have">{{__data__.string.user_features_3}}</li>
                    <li class="have">{{__data__.string.user_features_4}}</li>
                    <li>
                        {{__data__.string.user_features_5}}
                        <ul>
                        <li>{{__data__.string.user_features_6}}</li>
                        <li>{{__data__.string.user_features_7}}</li>
                        <li>{{__data__.string.user_features_8}}</li>
                        <li>{{__data__.string.user_features_9}}</li>
                        <li>{{__data__.string.user_features_10}}</li>
                        </ul>  
                    </li>
                    
                    </ul>  
                </div>  
            </div>
            <!-- 教育机构 -->
            <div class="edu-ins ">
                <div class="head">
                    <h3>{{__data__.string.educational_institutions}}</h3>  
                </div>
                <div class="body-content">
                    <ul>
                        <li class="have">{{__data__.string.user_features_1}}</li>
                        <li class="have">{{__data__.string.user_features_2}}</li>
                        <li class="have">{{__data__.string.user_features_3}}</li>
                        <li class="have">{{__data__.string.user_features_4}}</li>
                        <li class="have">
                            {{__data__.string.user_features_5}}
                            <ul>
                            <li class="have">{{__data__.string.user_features_6}}</li>
                            <li class="have">{{__data__.string.user_features_7}}</li>
                            <li class="have">{{__data__.string.user_features_8}}</li>
                            <li class="have"><span>{{__data__.string.user_features_9}}</span></li>
                            <li class="have">{{__data__.string.user_features_10}}</li>
                        </ul>  
                        </li>
                    </ul>  
                </div>  
            </div>
        </div>
    </div>
      
        

</div>
<script src="{{__data__.baseUrl}}/js/teacher_column.js"></script>
{{/ content}}
