{{< layout}} 

{{+ link}}
<link href="{{__data__.baseUrl}}/css/to_login.css" rel="stylesheet" />
{{/link}}

{{+ content}} 
<div class="introduction-wrapper container">
    <!-- <h3>Introduction</h3>
    <div class="lesson-content">
        <ul>
        <li>
            <span>Lesson 1:</span>
            <div>How to quickly become a goddess</div>
        </li>
        <li>
            <span>Duration:</span>
            <div>45mins</div>
        </li>
        <li>
            <span>Lesson Goals:</span>
            <div>
                <ul>
                    <li>Then the wandering soul wild crane stands still the memory river Listen to whistle play tightly ring slowly,Water </li>
                    <li>Ship to go medium long things of the past.Wait for a ship’s person Wait for one Finally what to wait for until has </li>
                    <li>Wild crane stands still the memory ship to go medium long things of to come and go soul wild crane stands</li>
                    <li>The past.Wait for a ship medium long things</li>
                </ul>    
            </div>
        </li>
        <li>
            <span>Ages:</span>
            <div>Suitable for all</div>
        </li>
        </ul>  
    </div> -->
    <p class="info text-center">For more information, please</p>
        
    <div class="opt-btn text-center">
        <a type="button" href="http://keepwork.com/wiki/join" class="el-button el-button--primary is-plain">{{__data__.string.signup}}</a>
        <button type="button" id="btnLogin" class="el-button el-button--primary">{{__data__.string.login}}</button>
    </div>
</div>
<script>
    $('#btnLogin').on('click', function() {
        var host = location.protocol + '//' + window.location.host;
        var strWindowFeatures = 'width=800,height=500,resizable=yes';
        var winObj = window.open(
            keepworkHost + "/wiki/oauth?response_type=code&client_id=1000001&redirect_uri=" +
            host  + "/login",
            "keepwork登录", strWindowFeatures);
        winObj.focus();
        var loop = setInterval(function () {
            if (winObj != null && winObj.closed) {
                clearInterval(loop);
                //do something
                location.reload();
            }
        }, 500);
    })
    
</script>
{{/ content}}