@import 'lib';
.recordWrapper {
    max-width:1200px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
}

.my-record .user-info, .taughted-record .user-info {
    .displayFlex;
    .flexAlignItems;

    .portrait {
        .borderRadius;
        width:60px;
        height: 60px;
        object-fit: cover;
        -o-object-fit: cover;
    }

    .portrait + strong {
        margin-left: 15px;
        color: #333;
        font-size:20px;
    }

}


.my-record {
    padding: 45px 10px 45px 8%;

    .info {
        margin: 30px 0 90px;
        color: #333;
        font-size: 16px;

        em {
            color: @themeColor;
        }
    }

    .el-button {
        padding: 17px 19px;
        font-size: 16px;
        margin-left: -45px;
    }
}

.record-list {
    .tab-nav {
        padding: 40px 10px 0 15%;
        border-bottom: 1px solid#E5E5E5;

        > a {
            display: inline-block;
            padding-bottom: 15px;
            margin: 0 5%;
            font-size: 22px;
            color: #333;

            &.current {
                color: @themeColor;
                border-bottom: 2px solid @themeColor;
            }
            &:hover {
                color: @themeColor;
            }
        }
    }
    .tab-content {
        padding: 30px 0;
        
        .have-item {
            border: 1px solid #E5E5E5;
            margin-bottom: 20px;
            
            .time {
                padding: 8px 15px;
                color: #181818;
                font-size: 18px;
                border-bottom: 1px solid #E5E5E5;
            }

            .layout-box {
                .displayFlex;
                .flexAlignItems;
                padding: 15px 20px 15px 10px;

                .cover {
                    width: 250px;
                    height: 146px;
                    margin-right: 20px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                }

                .content {
                    flex: 1;
                    .title {
                        font-size: 18px;
                        color: #181818;

                        &:hover {
                            color: @themeColor;
                        }
                    }
                    .goals {
                        margin: 12px 0;
                        font-size: 14px;
                        >span {
                            color: #999;
                        }
                        >ul {
                            padding-left: 18px;

                            li {
                                margin-top: 8px;
                                color: #333;
                                word-break: break-all;
                                word-wrap: break-word;
                                white-space: pre-line;
                            }
                        }
                    }
                    .foot {
                        width: 80%;
                        .displayFlex;
                        .flexAlignItems;
                        .flexJustifyContent(space-between);
                        color: #111;

                        span {
                            margin-left:  15px;

                            em {
                               color: #FF414A;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sort-btn {
    .displayFlex;
    padding: 25px;
    font-size:16px;
    color: #333;
    cursor: pointer;
    user-select: none;

    .sort-icon {
        padding-right: 5px;
        >i {
            display: block;
            line-height: 8px;
            color: #CCC;
            &.active {
                color: @themeColor;
            }
        }
    }
}


.learned-record, .taughted-record {
    padding: 45px 8%;
    .item {
        margin-bottom: 40px;
        color: #111;
        font-size: 16px;
        margin-right: 3%;
        > div {
            margin-top: 12px;
        }
        
        >span {
            color: #111;
            font-weight: bold;
            
        }
        em {
            color: #FF414A;
        }
    }
}

.learnedDetails {
    width: 100%;
    padding: 80px 70px 60px;
    box-shadow: 5px 4px 20px rgba(64,158,254,0.44);
    word-wrap: break-word;
    position: relative;

    &::after, &::before {
        content: "";
        position: absolute;
        top:18px;
        z-index: 2;
        width:20px;
        height:20px; 
        background:rgba(235,90,73,1);
        box-shadow:8px 4px 2px rgba(235,63,43,0.44);
        .borderRadius(50%);
    }

    &::after {
        left: 25px;
    }

    &::before {
        right: 25px;
    }

    ul {
        list-style: none;
        li{
            font-size: 16px;
            color: #111;
            margin: 20px 0;
        }
    }
    
    em {
        color: #FF414A;
    }
}

.table-wrap {
    width: 100%;
    margin-top: 40px;
    border:1px solid #BFBFBF;
    .borderRadius(8px);

    td {
        height: 50px;
        padding: 8px 10px;
        text-align: center;
        font-size: 14px;
    }

    thead td {
        border-right:1px solid #BFBFBF;
        border-bottom: 2px solid #bfbfbf;
        font-size: 16px;

        &:last-child {
            border-right: none;
        }
    }

    .sort-btn {
        padding: 0;
        justify-content: center;
        align-items: center;
        .sort-icon {
            padding-left: 5px;
        }
    }    

    tbody tr:nth-child(even) {
        background:rgba(64,158,254, .1);
    }

    .user-img img {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        .borderRadius(50%);
        vertical-align: middle;
    }
}

.draw-user {
    height: 30px;
    overflow: hidden;

    &::before, &::after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        margin: 0 auto;
        border:2px solid @themeColor;
        .borderRadius(50%);
    }

    &::after {
        width: 24px;
        height: 24px;
    }
    
}

.icon-more {
    .transform(rotate(90deg));
    font-size: 24px;
}

.taughted-record {
    padding: 40px 5%;

    .record-operate {
        text-align: right;
        margin-right: 3%;
    }

    .user-info {
        display: none;
    }

    .record-container {
        margin-top: 20px;
        padding: 30px;
        background:rgba(121,176,255,0.05);
    }

    .lecture-date {
        display: none;
        font-size: 16px;
        color:#111;
        margin:40px 0 10px;
    }

    .item {
        ol {
            padding-left: 18px;

            li {
                margin-top: 8px;
                color: #333;
            }
        }

        .chartLayout {
            .displayFlex;

            >div {
                width:50%;
            }
        }
    }

    .student-info{
        .displayFlex;
    }

    .student-taughted-details {
        @right: #27CE2F;
        @wrong: #F53838;

        .express {
            >span {
                margin-right: 10px;
                font-size: 14px;
                color: #676767;
            }
            .r::before, .w::before {
                content: "";
                width: 12px;
                height: 12px;
                display: inline-block;
                margin: 0 15px;
                vertical-align: middle;
                .borderRadius(50%);
            }
            .r::before {
                background-color: @right;
            }
            .w::before {
                background-color: @wrong;
            }
        }

        .table-wrap {
            margin-top:15px;

            .right {
                color: @right;
            }
            .wrong {
                color: @wrong;
            }
        }
    }

    .print-lesson-describe {
        display: none;
        
        .item {
            margin-right: 10%;
        }
    }

    .totalStudentNum {
        display: none;
        margin: 10px 0;
        font-size: 16px;
    }
}

.print-head {
    position: fixed;
    top:0;
    z-index:9;
    width:100%;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #D2D2D2;
    .displayFlex;
    .flexJustifyContent(space-between);
    .flexAlignItems(center);

    .logo {
        height: 30px;
        vertical-align: middle;
    }
}

@media (max-width: 992px) {
    .taughted-record{
        padding: 20px;

        .record-container {
            padding: 25px;
        }
    }
}

@media (max-width: 768px) {
    .record-list .tab-content {
        padding: 20px 0;

        .have-item .layout-box .content .foot {
            width: 100%;
        }
    }

    .sort-btn {
        padding: 15px;
    }

    .learned-record .item, .taughted-record .item {
        margin-bottom: 25px;

        &>div {
            margin-top: 8px;
        }
    }

    .table-wrap {
        margin-top: 25px;

        thead td, .sort-btn {
            font-size: 14px;
        }

        td {
            padding: 8px;
        }
    }
}

@media print {
    .noprint, .sort-icon {
        display: none;
    }

    .taughted-record {
        padding: 0 2%;

        .item .chartLayout {
            flex-wrap: wrap;

            >div {
                width: 100%;
            }
        }

        .user-info {
            display: block;

            .portrait {
                vertical-align: middle;
            }
        }

        .record-container {
            padding: 0;
        }

        .lecture-date {
            display: block;
        }

        .print-lesson-describe {
            .displayFlex;
        }   
        
        .totalStudentNum { 
            display: block;

            + span {
                font-weight: 500;
            }
        }
       
    }
    
    .table-wrap thead td:nth-last-child(2) {
        border-right: none;
    }

}
